doctype html
html(lang="pt")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(access-control-allow-origin="*")
        link(href="bootstrap.min.css" rel="stylesheet")
        link(href="fileinput.min.css" media="all" rel="stylesheet" type="text/css")
        link(href="robottj.css" rel="stylesheet")

    body(style="margin-top:10px")
        div.container.theme-showcase
            if (isAuthenticated)
                //- conteudo das páginas
                block content
            else
                //- bloquear acesso não autorizado
                //- include login
                block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="bootstrap.min.js")
        script(src="fileinput.min.js")
        script(src="home.js")
        script(src="tj.js")
