form(action="/login" method="post")
    div.form-group(id="login")
        div.page-header
            h3 Entrar
        div.input-group
            span.input-group-addon(id="emailAO")
                span.glyphicon.glyphicon-user
            input.form-control(name="email" type="text" placeholder="E-mail" aria-describedby="emailAO")
        div.input-group
            span.input-group-addon(id="senhaAO")
                span.glyphicon.glyphicon-user
            input.form-control(name="senha" type="password" placeholder="Senha" aria-describedby="senhaAO")

        br
        div.input-group
            button.btn.btn-success(type="submit") Entrar
