extends partials/layout

mixin pagination

    nav(aria-label="Page navigation")
        ul.pagination
            li.previous
                a(href="/consultar?pagina=0") 
                    span(aria-hidden="true") &larr; Primeiro
            - if (offset <= 0) { 
                li.previous.disabled 
                    a Anterior
            - } else { 
                li.previous 
                    a(href="/consultar?pagina=" + (offset -1)) Anterior
            - } 
            li
                a #{(offset +1)} / #{nroPaginas}
            - if (offset +1 >= nroPaginas) {
                li.next.disabled 
                    a Próximo
            - } else { 
                li.next 
                    a(href="/consultar?pagina=" + (offset +1)) Próximo
            - } 
            li.next 
                a(href="/consultar?pagina=" + (nroPaginas -1)) Último 
                    span(aria-hidden="true") &rarr;

block content

    - var nroProcessos = processos.count;
    - var nroPaginas = Math.round(nroProcessos / limit);

    div.table-responsive
        div.page-header
            h3 Processos 
                small #{processos.count} processos encontrados...

        blockquote A atualização dos processos, após realizar a importação, pode demorar alguns minutos para ser concluída.

        if (processos.rows.length > 0)

            +pagination

            table.table.table-striped
                thead
                    tr
                        th Número
                        th Classe
                        th Área
                        th Assunto
                        th Distribuição 
                            //- br Data
                            //- br Descrição
                        th Controle
                        th Juiz
                        th Valor da ação
                        th Última atualização
                tbody
                    each processo in processos.rows
                        tr
                            td 
                                a(href="/visualizar?id=" + processo.id)= processo.numero
                            td= processo.classe 
                            td= processo.area 
                            td= processo.assunto 
                            td #{processo.data_distribuicao} 
                            //- #{processo.desc_distribuicao}
                                br 
                                br 
                            td= processo.controle
                            td= processo.juiz
                            td= processo.valor_acao
                            td= processo.data_atualizacao

            +pagination

        else
            h3 Nenhum processo encontrado...
