extends partials/layout

block content

    div.jumbotron
        h2 Carregar arquivo
        form(action="/carregarProcessos" method="POST" enctype="multipart/form-data")
            input#consultarProcessos.file(type="file" name="consultarProcessos" accept=".xlsx"
                data-show-preview="false" data-show-upload="false")
            br
            input.btn.btn-lg.btn-primary(type="submit")
