extends partials/layout

block content

    div.jumbotron
        h2 Consultar processos 
            small #{processos.count} processos para consulta...

        if (processos)
            - var regex = /\d{7}-\d{2}.\d{4}.\d{1}.\d{2}.\d{4}/; 
            - var contemProcessoInvalido = false;

            ul#processos.list-group.list-overflow
                each processo in processos
                    //- número do processo é válido.
                    if (processo.toString().search(regex) == 0)
                        li.list-group-item= processo

            h4.
                Caso algum processo esteja listado a baixo, o número do 
                processo está inválido e deve ser corrigido.

            ul#processosInvalidos.list-group.list-overflow
                - var i = 0;
                each processo in processos
                    //- número do processo é inválido.
                    if (processo.toString().search(regex) < 0)
                        - contemProcessoInvalido = true;
                        li.list-group-item(style="color:red") #{processo} (linha #{i})
                    - i++;

            a.btn.btn-lg.btn-danger(href="/" role="button") Voltar
            button#consultar.btn.btn-lg.btn-primary(onclick="GetProcessos();") Consultar

            br
            br

            div.progress
                div#progressBar.progress-bar(role="progressbar"
                    style="width=0%" aria-valuenow="0" aria-valuemin="0" 
                    aria-valuemax=processos.length)

        else
            span Nenhum processo a ser consultado...
