extends partials/layout

block content

    div.page-header 
        h3 Processo
    dl
        dt.col-sm-3 Nro. do Processo
        dd.col-sm-9= processo.numero
    dl
        dt.col-sm-3 Classe
        dd.col-sm-9= processo.classe
    dl
        dt.col-sm-3 Área
        dd.col-sm-9= processo.area
    dl
        dt.col-sm-3 Assunto
        dd.col-sm-9= processo.assunto
    dl
        dt.col-sm-3 Distribuição
        dd.col-sm-9
            | #{processo.desc_distribuicao}
            br
            | #{processo.data_distribuidao}
    dl
        dt.col-sm-3 Controle
        dd.col-sm-9= processo.controle
    dl
        dt.col-sm-3 Juiz
        dd.col-sm-9= processo.juiz
    dl
        dt.col-sm-3 Valor da ação
        dd.col-sm-9= processo.valor_acao
    dl
        dt.col-sm-3 Última atualização
        dd.col-sm-9= processo.data_atualizacao
    br

    div.page-header 
        h3 Partes do processo
    if (partes.length > 0)
        table.table.table-striped 
            thead
                tr
                    th Tipo
                    th Nome
                    th Advogado
                    th Data de atualização
            tbody
                each parte in partes 
                    tr
                        td= parte.tipo
                        td= parte.nome
                        td= parte.advogado
                        td= parte.data_atualizacao
    else
        h4 Este processo não possui partes...

    div.page-header
        h3 Movimentações do processo
    if (movimentacoes.length > 0)
        table.table.table-striped
            thead
                tr
                    th Data
                    th Descrição
                    th Observações
                    th Data de atualização
            tbody
                each movimentacao in movimentacoes
                    tr
                        td= movimentacao.data_movimentacao
                        td= movimentacao.descricao
                        td= movimentacao.observacoes
                        //- td= movimentacao.url
                        td= movimentacao.data_atualizacao
    else
        h4 Este processo não possui movimentações...
